body {
    background-color: rgb(40, 255, 133);
}


div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
}

img.pfp {
    margin-top: 6vh;
    width: auto;
    height: auto;
    aspect-ratio: 1, 1;
    max-width: 5.5rem;
    border-radius: 1000px;
}

h1.username {
    font-family: monospace, sans-serif;
    font-size: 5vh;
    color: white;
    animation-name: username;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -moz-animation-name: username;
    -moz-animation-duration: 0.3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -webkit-animation-name: username;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}

@keyframes username {
    from {
        color: darkblue;
    }
    to {
        color: darkgreen;
    }
}


div.linkscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
}

div.links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 90vw;
    margin-top: 6.5vh;
    border-radius: 10vh;
    box-shadow: 5px 7px darkgreen;
    background-color: darkseagreen;
}

div.toplink {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.25vh;
    height: 10vh;
    width: 90vw;
    border-radius: 30vh;
    box-shadow: 5px 7px darkgreen;
    background-color: darkseagreen;
}

a.links {
    font-size: 1.3rem;
    font-weight: bolder;
    font-family: monospace, sans-serif;
    text-decoration: none;
    color: black;
}

div.footer {
    margin-top: 13vh;
}

/* Laptops, pcs stuff */
/* Laptops, pcs stuff */
/* Laptops, pcs stuff */
/* Laptops, pcs stuff */
/* Laptops, pcs stuff */

@media only screen and (768px <= width <= 10000px) {
    
    body {
        background-color: rgb(0, 221, 255);
    }
    

    div.links {
        height: 10vh;
        width: 50vw;
        margin-top: 6.5vh;
        border-radius: 10vh;
        box-shadow: 10px 10px darkblue;
        background-color: rgb(91, 91, 226);
    }
    
    div.toplink {
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2.25vh;
        height: 10vh;
        width: 50vw;
        border-radius: 30vh;
        box-shadow: 10px 10px darkblue;
        background-color: rgb(91, 91, 226);
    }
    
    div.toplink:hover {
        transform: scale(1.081);
        transition-duration: 0.25s;
    }

    div.links:hover {
        transform: scale(1.081);
        transition-duration: 0.25s;
    }
}

